.nested-menu-card {
    max-width: 600px;
    max-height: 600px;;
}

  .nested-menu-avatar {
    background-image: url('https://airnfts.s3.amazonaws.com/nft-images/20210514/Cat_Developer_1621024674859.png');
    background-size: cover;
  }

.nested-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}